<!DOCTYPE html>
<html>
    <head>
        <title>Formulario de notas</title>
    </head>
    <body>
        <form action="http://127.0.0.1:5000/result" method="post">
            <p>Nombre<input type="text" name="Nombre"></p>
            <p>Programacion<input type="text" name="Programacion"></p>
            <p>Base de datos<input type="text" name="Base de datos"></p>
            <p>Algoritmos<input type="text" name="Algoritmos"></p>
            <p><input type="submit" name="Enviar"></p>
        </form>
    </body>
</html>